:ruby
  page_title('Vintage cider and wine presses')

%div#productsC.container
  %div.span-48.last
    %div#wine_pressC.span-18
      %h1 Wine Press
      %div.descrC
        = @wine_press.descr.truncate(300, "...continue on our #{permalink(@wine_press)} page.").html_safe

      %div.flagged
        %span= "View the #{permalink(@wine_press)}".html_safe
      %div#wineIS.imageshowC
        - images_for_slideshow('wine').each do |image_path|
          = image_tag image_path


    %div.span-12
      = image_tag "home/yakima-press-company.png", :id => 'main_product_image', :alt => 'Yakima Press Company'


    %div#cider_pressC.span-18.last
      %h1 Cider Press
      %div.descrC
        = @cider_press.descr.truncate(300, "...continue on our #{permalink(@cider_press)} page.").html_safe

      %div.flagged
        %span= "View the #{permalink(@cider_press)}".html_safe

      %div#ciderIS.imageshowC
        - images_for_slideshow(@cider_press.press_type).each do |image_path|
          = image_tag image_path



:javascript
  $(document).ready(function() {
    new Imageshow($('#wineIS'));
    new Imageshow($('#ciderIS'), {wait : 2500});
  })
