
= form_for @product, :html => {:class => 'edit_product scaffold'} do |f|
  = render :partial => 'shared/user_notice', :locals => {:model_obj => @product}

  %div.formC_700
    .field
      = f.label :name, 'Name'
      = f.text_field :name

    - if @product.new_record?
      .field
        - auto = link_to 'autogenerate based on question', generate_permalink_path, :class => 'autogen'
        = f.label :permalink, "Permalink #{auto}".html_safe
        = f.text_field :permalink
    
    - else
      .field
        = f.label :permalink
        %div.disabled_form_field= @product.permalink

    .field
      = f.label :descr, 'Description'
      = f.text_area :descr

    .field
      = f.label :press_type, "Press Type (valid types = #{Product::VALID_PRESS_TYPES.join(', ')})"
      = f.text_field :press_type

    .field
      = f.label :price
      = f.text_field :price

    .field
      = f.label :shipping_weight, "Shipping Weight (lbs)"
      = f.text_field :shipping_weight

    
    .field
      = f.label :meta_description, 'Meta Description'
      = f.text_field :meta_description

    .field
      = f.label :meta_keywords, 'Meta Keywords'
      = f.text_field :meta_keywords

    .actions.clearfix
      = f.submit 'Save Product Information', :class => :button

- if @photos.present?
  %hr
  = render :partial => 'photos/form'
  %hr
  = render :partial => 'photos/destroy'

:javascript
  $('a.autogen').get_permalink_version({
    source : $('input#product_name'),
    target : $('input#product_permalink')
  })

