:ruby
  page_title('Our products are built to last while creating memories along the way.')


%div#productC.clearfix.container
  %div.span-24
    = render :partial => 'products/show/photos'
  %div.span-22
    %h2
      = @product.name
      = admin_area do
        = link_to 'Edit', edit_product_path(@product.permalink)

    - if @product.price?
      %div.price= @product.pricef

    = sanitize @product.descr, :tags => %w(br p a b ul li), :attributes => %w(href)







